html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #ffffff;
}

a {
  color: #60C4FD;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #1FAEFF;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin: 20px 0;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}

small,
.small {
  font-size: 85%;
}
cite {
  font-style: normal;
}
mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #428bca;
}
a.text-primary:hover {
  color: #3071a9;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover {
  color: #843534;
}
.bg-primary {
  color: #fff;
  background-color: #428bca;
}
a.bg-primary:hover {
  background-color: #3071a9;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}




}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 4px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  border-radius: 2px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}


.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}



body{
	background-color: #f1f1f1;
	position: relative;
	margin-top: 79px;
}
.container{
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
}
.header{
	/*margin-left: -280px;*/
	/*margin-top: -99px;*/
	height: 64px;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	background-color: #fff;
	background-color: rgba(255,255,255,0.9);
	padding: 0 15px;
	border-bottom: 1px solid #e6e6e6;
	/*box-shadow: 0 1px 4px rgba(0,0,0,.05);*/
	border-color: rgba(0,0,0,.1);
	box-shadow: 0 1px 4px rgba(0,0,0,.04)

}


.content-wrap {
	width: 100%;
	float: left;
}
.content {
	position: relative;
	min-height: 500px;
	/*padding: 20px;*/
	margin-right: 375px;
	background-color: #fff;
	margin-bottom: 15px;
}


.single .content{
	padding: 0 25px;
}
.single .content::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	border-top: 20px solid #ECF0F1;
	border-left: 20px solid transparent;
}


/* logo ======================================================================================================== */
.logo{
	overflow: hidden;
	float: left;
	width: 137px;
}
.logo a{
	height: 64px;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

/* navbar ======================================================================================================== */







#footer{
	clear: both;
	padding: 40px 30px;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	color: #888;
	background-color: #f1f1f1;
	/*border-top: 1px solid #E2E3E4;*/
	/*box-shadow: 1px 0 4px rgba(0,0,0,0.04)*/
}

#footer a{
	color: #888;
}
#footer a:hover{
	color: #ddd;
}

.footer-menu{
	text-align: left;
	margin: 0 -2% 30px 0;
	padding-bottom: 30px;
	overflow: hidden;
	border-bottom: 1px solid #494949;
}
.footer-menu dl{
	width: 14.666666666%;
	margin: 0 2% 0 0;
	display: inline-block;
	vertical-align: top;
}
.footer-menu dt{
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 10px;
	height: 25px;
	overflow: hidden;
	text-overflow:ellipsis; white-space:nowrap;
}
.footer-menu dd a{
	display: block;
	line-height: 20px;
	padding: 0 5px 0 24px;
	margin: 5px 0;
}








.pageheader{overflow: hidden;background-color: #61B3E6;padding: px 20px;margin-bottom:15px;color: #fff;}
.pageheader h1{font-size: 30px;margin:0}
.pageheader h1 small{color: #fff;font-size: 12px;margin-left: 10px;position: relative;top: -4px;}
.pageheader .note{margin-top: 5px;margin-left: 50px;width: 300px;}
.pageheader p{margin-bottom: 0;}
.pageheader .share{float: right;height:28px;margin: 17px 0 0;color: #fff;}
.pageheader .share a{width: 28px;height: 28px;background-color: #FFF;border: solid 2px #FFF;border-radius: 4px;opacity: .9;top: 0}
.pageheader .share .bds_count{border-left-color: #fff;}

.pageheader-mini{padding: 15px 0 13px;}
.pageheader-mini h1{font-size: 18px;}
.pageheader-mini .share{margin: -5px 0;}

.page_content{background-color: #FFFFFF;margin-top: 20px;height:auto; padding: 20px;line-height: 30px;overflow: auto;}






















body{margin-top: 0;}
.mianbao{font-weight: normal;color: #fff;background-color: #61B3E6;margin: 0;width:auto;padding: 11px 15px;margin: 0;font-size: 18px;}
.mianbao a{color: #fff;}
#navs{color: #aaa;margin-top:0px;}
#navs h2{font-size: 20px;font-weight: normal;color: #fff;padding: 10px;background-color: #61B3E6;margin: 0}
#navs .item{overflow: hidden;margin:20px 0 30px;}
#navs .item h2{width: 140px;padding: 11px 15px;margin: 0;font-size: 18px;}
#navs .item h2 a{width: 140px;padding: 11px 15px;margin: 0;font-size: 18px;color: #ffffff;}
#navs .item ul{margin-right: -1%;}
#navs .item li{float: left;width: 13%;margin-right: 1%;margin-top: 1%;padding: 15px;font-size: 12px;height: 49px;overflow: hidden;background-color: #fff;border-bottom: 15px solid #fff;}
#navs .item li a{margin-bottom: 5px;width: 13%;font-size: 14px;font-weight: bold;color: #61B3E6;border-bottom: 2px solid transparent;}
#navs .item li a:hover{color: #FD8C84;border-bottom-color: #FD8C84;}

#navs .items{margin-left: 120px;}
#navs nav{width: 102px;position: fixed;top: 2;left: 1;background-color: #61B3E6;}

#navs nav ul{width: 140px;}
#navs nav a{display: block;padding: 7px 8px;color: #fff;border-bottom: 1px solid #55A5D8;}
#navs nav a:hover, #navs nav .active a{background-color: #55A5D8;color: #fff;}
#navs nav ul.affix{position: auto;}
#navs nav ul.affix-bottom{position: fixed;}


/* Li css*/
li{list-style:none;} 



